UPLOAD_BASEROW_API_URL=https://api.baserow.io
UPLOAD_BASEROW_TOKEN=YOUR_UPLOAD_SAREE_DATABASE_TOKEN
UPLOAD_BASEROW_TABLE_ID=1076991

UPLOAD_FIELD_PRODUCT_TITLE=9535465
UPLOAD_FIELD_PRODUCT_CODE=9535466
UPLOAD_FIELD_CATEGORY=9535467
UPLOAD_FIELD_PRICE=9535468
UPLOAD_FIELD_SAREE_IMAGE=9535469
UPLOAD_FIELD_BLOUSE_IMAGE=9535470
UPLOAD_FIELD_GENERATION_STATUS=9535471
UPLOAD_FIELD_COMMENT_NOTES=9535472
UPLOAD_FIELD_FRONT_VIEW=9535578
UPLOAD_FIELD_BACK_VIEW=9535579
UPLOAD_FIELD_SIDE_VIEW=9535580
UPLOAD_FIELD_CLOSE_UP=9535581

UPLOAD_GENERATION_STATUS_START=Start
UPLOAD_GENERATION_STATUS_APPROVED=Approved
UPLOAD_GENERATION_STATUS_FAILED=Failed
UPLOAD_MAX_FILE_SIZE_MB=10
